:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --menu-font-color: #FF0070;
  --font-color: #F1B2CE;
  --main-font: IBM Plex Mono;
  --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-title-size-pc: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  --text-size: 18px;
  --accent-title-color: #DB00FF;
  --titles-color: #000028;
  }
