/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: contain;
  background-color: var(--bg-color);
  inline-size: 100%;
  block-size: 100%;
  font: 400 var(--text-size) var(--main-font, sans-serif);
  scrollbar-width: auto;
  background-size: cover;
}

.header__theme-menu {
  align-self: center;
  justify-self: self-end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  align-items: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--menu-font-color);
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-font-color);
}

.header {
  padding: 0 10px;
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 1fr min-content 1fr;
}
.header_span {
  position: absolute;
  right: 20px;
  top: 10px;
  color: var(--menu-font-color);
  block-size: 26px;
  inline-size: 52px;
}

.header_span::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0px;
  background: url(../images/dot.svg) center / contain no-repeat;
  inline-size: 15px;
  block-size: 15px;
  filter: blur(2px);
  z-index: 1;
}

.decorated-zone::before ,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--menu-font-color);
  border-right: 1px solid var(--menu-font-color);
  top: 10px;
  right: 10px ;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--menu-font-color);
  border-left: 1px solid var(--menu-font-color);
  left: 10px;
  bottom: 10px;
}

.header__title {
  color: var(--accent-title-color);
  font-size: var(--main-title-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  align-self: center;
  font-weight: 700;
  color: var(--titles-color);
}

.content {
  padding: 0 10px;
}

.content__section {
  padding-top: 40px ;
  padding-bottom: 5px;
}

.title-decor {
  background-color: var(--accent-color);
  display: block;
  height: fit-content;
}

.article__title {
    font-family: 'IBM Plex mono';
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--titles-color);
}


.section__reasons-text {
  color: var(--font-color);
  font: 400 var(--text-size) / 23.5px var(--main-font, sans-serif);
}

.section__reasons-text:not(:last-child) {
  margin-bottom: 19px;
}

.section__reasons-cover-text-column:not(:last-child) {
  margin-bottom: 19px;
}

.section__reasons-title {
  color: var(--menu-font-color);
  font-size: var(--text-size);
  line-height: 23.5px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section__reasons-subtitle {
  color: var(--titles-color);
  font-size: var(--text-size);
  width: 100%;
  margin-bottom: 10px;
}


.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus-visible {
  outline: 1px solid var(--font-color);
}

.section__reasons-subtitle.title-decor-last {
  font-weight: 400;
}

.cover-for-gallery {
  grid-template-columns: 1fr;
  display: grid;
  gap: 10px;
}

.content__section-gallery {
  padding-bottom: 40px;
  padding-top: 45px;
}

.content__section-gallery-img {
  width: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  align-items: center;
  align-self: center;
  justify-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 0 10px;
}

.footer_text {
  color: var(--accent-title-color);
  font-size: var(--main-title-size);
  text-shadow: 2px 2px 0 var(--accent-color);
}


@media (width >= 768px) {
  .header {
    padding: 15px 0 0 0;
    margin-bottom: 60px;
  }
  
  .header__theme-menu {
    padding-right: 20px;
  }

  .header__title {
    align-self: start;
    justify-self: flex-start;
    margin-bottom: 15px;
    font-size: var(--main-title-size-pc);
  }

  .header__paragraph {
    max-width: 365px;
    display: grid;
    justify-self: end;
    align-self: center;
    margin-bottom: 40px;
    margin-right: 20px;
  }

  .header_span {
    right: 28px;
    top: 20px;
  }

  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .content {
    padding: 0 20px;
  }

  .header__theme-menu-list {
    display: grid;
    justify-content: end;
    align-self: flex-end;
    gap: 10px;
  }

  .content__section {
    padding-top: 0px;
    margin-bottom: 80px;
    padding-bottom: 0;
  }

  .section__reasons-title {
    width: 236px;
  }

  .section-column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__section-gallery .section__reasons-subtitle {
    margin-bottom: 16px;
  }

  .content__section-gallery {
    padding-bottom: 60px;
    padding-top: 0;
  }

  .cover-for-gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .cover-for-gallery .content__section-gallery-img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .cover-for-gallery .content__section-gallery-img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .cover-for-gallery .content__section-gallery-img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .cover-for-gallery .content__section-gallery-img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .cover-for-gallery .content__section-gallery-img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
  min-block-size: 1024px;
  }

  .footer_text {
    font-size: var( --main-title-size-pc);
  }
}

@media (width >= 1024px) {
  .header {
    padding: 10px 0px;
  }

  .header_span {
    right: 30px;
    top: 20px;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
    padding-top: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
  }

  .header__title {
    align-self: flex-end;
    margin: 0;
  }

  .header__paragraph {
    max-width: 491px;
    margin-bottom: 10px;
  }

  .section__reasons-title {
    width: 315px;
  }

  .column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__reasons-cover-text-column {
    flex-direction: column;
  }

  .section-column {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .section__reasons-subtitle {
    margin-block-end: 10px;
  }

  .section__reasons-text {
    width: 100%;
  }

  .cover-for-gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__section-gallery .section__reasons-subtitle {
    margin-bottom: 20px;
  }

  .cover-for-gallery .content__section-gallery-img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer_text {
    font-size: var( --main-title-size-pc);
  }
}